body {
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

a {
    color: cyan;
    text-decoration: none;
    font-size: 20px;
}

button {
    background-color: cyan;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
}